
doctype html
html(lang="zh-cn")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="IE=Edge")
    title 博客

    mixin css(href)
      link(rel="stylesheet", href=href)
    +css("/components/bootstrap/css/bootstrap.css")
    +css("/components/font-awesome/css/font-awesome.min.css")
    +css("/components/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css")
    +css("/components/summernote/summernote.css")
    +css("/components/summernote/summernote-bs3.css")
    +css("/assets/main.css")

  body
    mixin icon-link(icon, href)
      a(class=attributes.class, id=attributes.id, href=(href || "#"))
        i.fa.fa-fw(class="fa-" + icon)
        block

    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") 博客
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              +icon-link("home", "/index") 首页
            li
              +icon-link("info", "/about") 关于
          ul.nav.navbar-nav.navbar-right
            // {{#user}}
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                i.fa.fa-fw.fa-user
                span {{username}}
                b.caret
              ul.dropdown-menu
                li
                  +icon-link("sign-out", "/logout") 注销
                li.hide
                  a(href="/change-password") 修改密码
            // {{/user}}
            // {{^user}}
            li
              +icon-link("user", "/signup") 注册
            li
              +icon-link("sign-in", "/login") 登录
            // {{/user}}

    .container
      .blog-header
        h1.blog-title 博客
          small Java EE 实验

      .row

        .blog-main.col-md-8.col-sm-12
          // {{^message}}
          != yield
          // {{/message}}
          // {{#message}}
          .message
            p {{message}}
            +icon-link("arrow-circle-left").btn.btn-primary.go-back 返回
          // {{/message}}


        .clearfix.visible-sm

        .blog-sidebar.col-md-3.col-md-offset-1
          // {{^user}}
          .sidebar-module.sidebar-module-inset
            h4
              i.fa.fa-fw.fa-info
              span 关于
            p 这一个博客，您可以阅读文章或者注册账户发表文章
          // {{/user}}
          // {{#user}}
          .sidebar-module
            +icon-link("plus", "/post-edit").btn.btn-success.btn-block 发表新文章
          // {{/user}}
          .sidebar-module.tags.hide
            h4 标签
            a(href="#") 标签 1
            a(href="#") 标签 2
            a(href="#") 标签 3
            a(href="#") 标签 4
          .sidebar-module
            h4 友情链接
            ul.list-unstyled.links
              li
                +icon-link("external-link", "http://getbootstrap.com/") Bootstrap
              li
                +icon-link("external-link", "http://jquery.com/") jQuery
              li
                +icon-link("external-link", "http://fortawesome.github.io/Font-Awesome/") Font Awesome
              li
                +icon-link("external-link", "http://sparkjava.com/") Spark
              li
                +icon-link("external-link", "http://hibernate.org/") Hibernate
              li
                +icon-link("external-link", "http://maven.apache.org/") Maven


  script(src="/components/jquery/jquery-min.js")
  script(src="/components/underscore.js/underscore-min.js")
  script(src="/components/handlebars.js/handlebars.js")
  script(src="/components/bootstrap/js/bootstrap.js")
  script(src="/components/bootstrap-switch/js/bootstrap-switch.js")
  script(src="/components/moment.js/moment-with-langs.min.js")
  script(src="/components/summernote/summernote.min.js")
  script(src="/components/summernote/lang/summernote-zh-CN.js")
  script(src="/assets/main.js")
