
mixin icon-link(icon, href)
  a(class=attributes.class, id=attributes.id, href=(href || "#"))
    i.fa.fa-fw(class="fa-" + icon)
    block

.posts

  // {{#posts}}
  .post
    a(href="/post/{{id}}")
      h2.title {{title}}
    .meta
      // {{#isMy}}
      .operate.show-on-hover
        +icon-link("trash-o", "/post-delete/{{id}}").btn.btn-danger.btn-xs 删除
        +icon-link("edit", "/post-edit/{{id}}").btn.btn-primary.btn-xs 修改
      // {{/isMy}}
      | 由
      span.author {{author.username}}
      | 发表于
      span.date {{date}}
    .body {{{body}}}
    .comment
      a(href="/post/{{id}}#comment") {{commentCount}} 条评论
  // {{/posts}}

ul.pager.hide
  li.previous.disabled
    a &larr; 上一页
  li.next
    a 下一页 &rarr;
