
mixin link-button
  a(class=attributes.class, id=attributes.id, href="javascript:;")
    block

.posts

  // {{#post}}
  .post
    a(href="/post/{{id}}")
      h2.title {{title}}
    .meta
      | 由
      span.author {{author}}
      | 发表于
      span.date {{date}}
    .body {{{body}}}
    .comment
      a(href="/post/{{id}}#comment") {{comment_count}} 条评论
  // {{/post}}

  .post
    h2.title 文章 2
    .meta
      | 由
      span.author lzlk
      | 发表于
      span.date 三天前
    .body
      p 内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
      p 测试测试
    .comment
      a(href="/post?id=1#comment") 3 条评论

ul.pager
  li.previous.disabled
    +link-button &larr; 上一页
  li.next
    +link-button 下一页 &rarr;
