
mixin link-button
  a(class=attributes.class, id=attributes.id, href="javascript:;")
    block

.posts

  // {{#posts}}
  .post
    a(href="/post/{{id}}")
      h2.title {{title}}
    .meta
      // {{#isMy}}
      .operate.show-on-hover
        a(href="/post-delete/{{id}}") 删除
        a(href="/post-edit/{{id}}") 修改
      // {{/isMy}}
      | 由
      span.author {{author.username}}
      | 发表于
      span.date {{date}}
    .body {{{body}}}
    .comment
      a(href="/post/{{id}}#comment") {{commentCount}} 条评论
  // {{/posts}}

ul.pager
  li.previous.disabled
    +link-button &larr; 上一页
  li.next
    +link-button 下一页 &rarr;
