
mixin icon-link(icon, href)
  a(class=attributes.class, id=attributes.id, href=(href || "#"))
    i.fa.fa-fw(class="fa-" + icon)
    block

.post
  // {{#post}}
  h2.title {{title}}
  .meta
    // {{#isMy}}
    .operate
      +icon-link("trash-o", "/post-delete/{{id}}").btn.btn-danger.btn-xs 删除
      +icon-link("edit", "/post-edit/{{id}}").btn.btn-primary.btn-xs 修改
    // {{/isMy}}
    | 由
    span.author {{author.username}}
    | 发表于
    span.date {{date}}
  .body {{{body}}}
  // {{/post}}

.comments
  h2.comment-head
    i.fa.fa-fw.fa-comments-o
    span 评论
  // {{#comments}}
  .comment(id="comment-{{id}}")
    .meta
      | 由
      span.author {{author}}
      | 发表于
      span.date {{date}}
    p {{body}}
  // {{/comments}}
  // {{^comments}}
  .comment 没有评论
  // {{/comments}}

.comment-add
  h2.comment-head
    i.fa.fa-fw.fa-comment-o
    span 发表评论
  form(method="post", action="/comment/{{post.id}}")
    .form-group
      label(for="name") 昵称
      input#title.form-control(type="input", name="nickname", placeholder="请输入您的昵称", value="{{user.username}}")
    .form-group.hide
      label(for="email") 邮箱
      input#title.form-control(type="input", name="email", placeholder="请输入您的邮箱")
    .form-group
      label(for="body") 内容
      textarea#body.form-control(rows="5", name="body")
    button.btn.btn-primary(type="submit")
      i.fa.fa-fw.fa-check
      span 提交
